/*BASE*/
.container {
    max-width: 1600px;
    margin: auto;
}

.background-blue {
    width: 100%;
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;

}
