@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:ital,wght@0,500;1,500&family=Saira:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:ital,wght@1,500&family=Saira:wght@600&display=swap');

.container {
  max-width: 1700px;
  margin: auto;
}

:root {
  --color-logo: #2b7fff;
  --color-background: #011c44;
  --color-note: #747272;
}


a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  display: inline-block;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  margin-bottom: 19px;
}

h1 {
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 114px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-logo);
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0;
}
h3 {
  font-family: 'Play', sans-serif;
  font-size: 64px;
}

h4 {
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

h5 {
  font-family: 'Play', sans-serif;
  font-size: 18px;
  color: var(--color-background);
  font-style: normal;
}
p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/*TEXT*/

.note {
  color: var(--color-note);
  width: 238px;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
}

.block-text {
  width: 80%;
}

/*header block*/

header {
  height: 106px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 100;
}

.logo {
  width: 74px;
}
.social-header {
  cursor: pointer;
  fill: var(--color-background);
  padding-left: 32px;
}

.social-header:hover {
  fill: var(--color-logo);
  transition: fill 0.3s ease-out;
}

.social-nav {
  display: flex;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 106px;
  padding-left: 50px;
  padding-right: 50px;
}

.menu-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-nav-li {
  display: inline;
  margin-right: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--color-background);
  transition: color 0.2s ease-out;
}

.menu-nav-li:hover {
  color: var(--color-logo);
}

.menu-nav-li:active {
  color: var(--color-logo);
}

/*block 1 with bachground*/



.block-1 {
  width: auto;
  padding: 0 50px;
  margin-top: -106px;
  background: url(./img/bckg-block1.png) no-repeat;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.vector-block1 {
  position: relative;
  fill: #fff;
  width: auto;
  height: 100px;
  rotate: 4;
}

.block-1-text {
  position: relative;
  padding-top: 100px;
  padding-left: 206px;
  z-index: 3;
}

.btn-block-1 {
  font-family: 'Saira', sans-serif;
  font-size: 18px;
  color: var(--color-background);
  width: 219px;
  height: 53px;
  top: 102px;
  left: 20px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  border: 2px solid;
  border-color: var(--color-logo);
  gap: 10px;
  background-color: #011c4400;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.btn-block-1:hover {
  color: #fff;
  width: 219px;
  height: 53px;
  top: 102px;
  left: 20px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  border: 2px solid;
  border-color: var(--color-logo);
  gap: 10px;
  background-color: var(--color-logo);
}

/*block 2 face*/
.block-2 {
  position: relative;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.star1 {
  transform: rotate(30deg);
  width: 64px;
  position: relative;
  top: 350px;
  right: 370px;
  stroke-width: 2;
  animation: rotateStar 4s linear infinite;
  transform-origin: 50% 50%; 
  transform-box: fill-box; 
}

.star2 {
  transform: rotate(22deg);
  transform: rotate(30deg);
  width: 40px;
  position: relative;
  right: 50px;
  stroke-width: 2;
  animation: rotateStar 3s linear infinite;
  transform-origin: 50% 50%; 
  transform-box: fill-box;
}
.star3 {
  width: 16px;
  position: relative;
  top: 250px;
  right: 110px;
  stroke-width: 2;
  animation: rotateStar 2s linear infinite;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes rotateStar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.face1-block-2 {
  border-radius: 50%;
  width: 330px;
  height: 330px;
}

.face2-block-2 {
  border-radius: 50%;
  width: 330px;
  height: 330px;
  margin-left: 200px;
}

.text-bold-bl2 {
  font-weight: bold;
}

.block-img-face {
  margin-left: 100px;
}

/*block 3 about us frame*/
.background-blue {
  width: auto;
  background-image: url(./img/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}


.block-3 {
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Saira', sans-serif;
  padding-top: 170px;
  text-align: center;
}

.why.description3 {
  margin-top: 30px;
}

.description3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.us {
  color: var(--color-logo);
}
.frame-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 190px;
  margin-right: 190px;
}
.frame {
  padding-top: 24px;
  width: 316px;
  height: 181px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 32px;
  margin: 32px 24px 32px 24px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
}

.frame-text {
  padding: 24px 15px 0 15px;
  font-size: 18px;
  line-height: 24px;
}

/*block 4 with arrow and services*/
.nav-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: transparent;
  border: 1px solid var(--color-background);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  margin: 44px;
  transition: background-color 0.5s ease-out, fill 0.5s ease-out, border-radius 0.5s ease-out;
}

.nav-arrow:hover {
  background-color: var(--color-logo);
  border-color: #fff;
  fill: #fff;
}

.vector-services {
  border-radius: 4px 120px;
}

.vector-services-bckg {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  z-index: 2;
}

.service {
  position: relative;
  margin: 10px;
}

.description4 {
  width: 100%;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 0 0 50px 0;
  z-index: 30;
}

.block-4 {
  font-family: 'Saira', sans-serif;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-elips {
  margin: auto;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 121px;
}

.text-logo {
  color: var(--color-logo);
}

/*block 5 CONTACTS*/

.block-5 {
  font-family: 'Saira', sans-serif;
  text-align: center;
  margin-bottom: 80px;
}

.map {
  border-radius: 32px;
  flex-shrink: 0;
  border: none;
  width: 605px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 32px;
}

/*FORM*/
.form {
  height: 481px;
  width: 421px;
  background-color: var(--color-background);
  border-radius: 32px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 2px;
}

input {
  padding-left: 40px;
  margin-bottom: 16px;
  background-color: transparent;
  border: 2px solid rgba(116, 114, 114, 1);
  border-radius: 32px;
  width: 310px;
  height: 52px;
}

.btn-form {
  font-family: 'Saira', sans-serif;
  font-size: 18px;
  color: #fff;
  width: 281px;
  height: 53px;
  top: 102px;
  left: 20px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  border: 2px solid;
  border-color: var(--color-logo);
  gap: 10px;
  background-color: var(--color-logo);
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.btn-form:hover {
  width: 281px;
  height: 53px;
  top: 102px;
  left: 20px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  border: 2px solid;
  border-color: var(--color-logo);
  gap: 10px;
  background-color: transparent;
}

/*footer block*/

.footer-text {
  color: #fff;
  z-index: 10;
}

.footer-text:hover {
  color: var(--color-logo);
  transition: color 0.3s ease-out;
}

.footer-text:active {
  color: var(--color-logo);
}

.social-nav-footer img {
  cursor: pointer;
}

.social-footer {
  transition: fill 0.3s ease-out;
}

.social-footer:hover {
  fill: var(--color-logo);

}

footer {
  color: #fff;
  background-color: var(--color-background);
}

.container-footer {
  display: flex;
  flex: 1;
  padding: 56px 0 0 100px;
  margin: auto;
  gap: 20px;
}

.column {
  flex: 1;
}

.social-nav-footer {
  height: 42px;
  width: 174px;
}

.img-footer {
  position: relative;
  bottom: 0;
}

.footer-text {
  font-size: 16px;
  z-index: 2;
}

.cooperation-text {
  margin-right: -100px;
  margin-bottom: 19px;
}


/*MODAL WINDOW*/

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  height: 681px;
  width: 723px;
  background-color: var(--color-background);
  border-radius: 48px;
  position: relative;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close {
  position: absolute;
  top: 42px;
  right: 42px;
  cursor: pointer;
}

.modal-title {
  font-size: 64px;
  text-align: center;
  color: #fff;
  margin: 0;
  line-height: 75px;
  padding-top: 40px;
  overflow: auto;
  z-index: 502;
}

.modal-description {
  text-align: center;
  line-height: 26px;
  font-size: 22px;
  z-index: 502;
}

.form-modal {

}

.vector-modal {
  position: absolute;
z-index: 501;
}
