.text-logo {
    color: var(--color-logo);
}


.note {
    color: var(--color-note);
    width: 238px;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;

@media (max-width: 720px) {
            margin: auto;
            padding-top: 8px;
    }

}


.note-form {
    color: var(--color-note);
    width: 238px;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
    display: inline-block;
    cursor: pointer;

}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin-bottom: 19px;
}



h3 {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    @media screen and (max-width: 720px) {
        font-size: 32px;
    }
}

h4 {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}
