.background-blue {
    width: auto;
    background-image: url(/img/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}


.block-3 {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Saira', sans-serif;
    padding-top: 170px;
    text-align: center;
}

.why.description3 {
    margin-top: 30px;
}

.description3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.us {
    color: var(--color-logo);
}

.frame-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 190px;
    margin-right: 190px;
}

.frame {
    padding-top: 24px;
    width: 316px;
    height: 181px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 32px;
    margin: 32px 24px 32px 24px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
}

.frame-text {
    padding: 8px 24px 24px 24px;
    font-size: 18px;
    line-height: 24px;
}