.footer-text {
    color: #fff;
    z-index: 10;
}

.footer-text:hover {
    color: var(--color-logo);
    transition: color 0.3s ease-out;
}

.footer-text:active {
    color: var(--color-logo);
}

.social-nav-footer img {
    cursor: pointer;
}

.social-footer {
    transition: fill 0.3s ease-out;
}

.social-footer:hover {
    fill: var(--color-logo);

}

footer {
    color: #fff;
    background-color: var(--color-background);
}

.container-footer {
    display: flex;
    flex: 1;
    padding: 56px 0 0 100px;
    margin: auto;
    gap: 20px;
}

.column {
    flex: 1;
}

.social-nav-footer {
    height: 42px;
    width: 174px;
}

.img-footer {
    position: relative;
    bottom: 0;
}

.footer-text {
    font-size: 16px;
    z-index: 2;
}

.cooperation-text {
    margin-right: -100px;
    margin-bottom: 19px;
}