form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    height: 481px;
    background-color: var(--color-background);
    border-radius: 32px;
    &--limited {
        width: 421px;
    }

    &__label {
            margin-bottom: 2px;
            display: block;
        }
    &__input {
            padding-left: 40px;
            margin-bottom: 16px;
            font-size: 16px;
            color: #fff;
            background-color: transparent;
            border: 2px solid rgba(116, 114, 114, 1);
            border-radius: 32px;
            height: 52px;
            &--limited {
                width: 310px;
            }
        }

    &__input:focus {
                background-color: var(--color-note);
                outline: none;
            }

    &__input::placeholder {
                color: rgba(255, 255, 255, 1);
            }
        }