form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    height: 481px;
    background-color: var(--color-background);
    border-radius: 32px;
    &--limited {
        width: 421px;
    }

        @media screen and (max-width: $bz-desktop) {
            height: 434px;
            order: 1;
            justify-content: center;
            width: 320px;
            margin: auto;
        }

    &__label {
            margin-bottom: 2px;
            display: block;
        }
    &__input {
            margin-bottom: 16px;
            font-size: 16px;
            color: #fff;
            background-color: transparent;
            border: 2px solid rgba(116, 114, 114, 1);
            border-radius: 32px;
            height: 52px;
            &--limited {
                width: 310px;
            }
                        @media screen and (max-width: $bz-desktop) {
                            width: 241px;
                            font-size: 13px;
                            height: 46px;
                        }
        }

    &__input:focus {
                background-color: var(--color-note);
                outline: none;
            }

    &__input::placeholder {
                color: rgba(255, 255, 255, 1);
                padding-left: 40px;
                @media screen and (max-width: $bz-desktop) {
                       padding-left: 24px;
                    }
            }
        }