.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: opacity .3s ease-in, visibility .3s ease-in;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
a.pc-form {
    text-decoration: underline;
}
.modal-window {
    height: 100%;
    max-height: 700px;
    width: 100%;
    max-width: 723px;
    background-color: var(--color-background);
    border-radius: 48px;
    position: relative;
    
    &__close {
            position: absolute;
            top: 42px;
            right: 42px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: #fff;
            size: 50px;
        }
    
        &__title {
            font-size: 64px;
            text-align: center;
            color: #fff;
            margin: 0;
            line-height: 75px;
            padding-top: 40px;
            overflow: auto;
            z-index: 502;
        }
    
        &__description {
            text-align: center;
            line-height: 26px;
            font-size: 22px;
            z-index: 502;
        }
    
        &__input {
            padding-left: 40px;
            margin-bottom: 24px;
            font-size: 16px;
            color: #fff;
            background-color: transparent;
            border: 2px solid rgba(116, 114, 114, 1);
            border-radius: 32px;
            width: 310px;
            height: 52px;
        }
    
        &__input:focus {
            background-color: var(--color-note);
            outline: none;
        }
    
        &__input::placeholder {
            color: rgba(255, 255, 255, 1);
        }
}


