.block-5 {
    font-family: 'Saira', sans-serif;
    text-align: center;
    margin-bottom: 80px;
    margin: 80 auto;
        width: auto;
        @media screen and (max-width: $bz-desktop) {
                margin: 0;
            }
    
    &__map {
            border-radius: 32px;
            flex-shrink: 0;
            border: none;
            width: 605px;
            &--limited {
                max-width: 605px;
            }

                        @media screen and (max-width: $bz-desktop) {
                            order: 2;
                            width: 100%;
                            border: none;
                            border-radius: 0;
                            height: 232px;
                            margin: 0;
                        }
        }
    
        &__navigation {
            display: flex;
            justify-content: center;
            gap: 32px;

                    @media screen and (max-width: $bz-desktop) {
                            display: flex;
                            flex-direction: column;
                        }
        }
}
