.block-4 {
    font-family: 'Saira', sans-serif;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
        width: auto;

    &__services-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        &__nav-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            width: 44px;
            background-color: transparent;
            border: 1px solid var(--color-background);
            border-radius: 50%;
            padding: 0;
            cursor: pointer;
            margin: 44px;
            transition: background-color 0.5s ease-out, fill 0.5s ease-out, border-radius 0.5s ease-out;
        }
    
        &__nav-arrow:hover {
            background-color: var(--color-logo);
            border-color: #fff;
            fill: #fff;
        }
    
        &__vector-services {
            border-radius: 4px 120px;
        }
    
        &__vector-services-bckg {
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            z-index: 2;
        }
    
        &__service {
            position: relative;
            margin: 10px;
            transition: transform .3s ease-in;
        }
    
        &__service:hover {
            transform: scale(1.05);
        }
    
        &__description4 {
            width: 100%;
            font-size: 22px;
            position: absolute;
            bottom: 0;
            left: 0;
            color: white;
            padding: 0 0 50px 0;
            z-index: 30;
        }
    
    
    
        &__nav-elips {
            margin: auto;
            padding-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 121px;
        }
}



